* {
    box-sizing: border-box;
}

html, body
{margin: 0;
padding: 0;
    width: 100%;
}

.mygrid {
    width: 100%;
    display: grid;
  grid-row-gap: 30px;
   grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 100px;
    grid-template-areas: "header header header"
                         "projekty1 projekty2 projekty3"
                         "footer footer footer";

background: linear-gradient(53deg, #fd00ff, #0600ff, #ff0063, #8d00ff);
background-size: 300% 300%;
animation: Tlo 24s infinite;
    
}


@keyframes Tlo {
    0%{background-position:0% 75%}
    50%{background-position:100% 26%}
    100%{background-position:0% 75%}
}


.column {
    text-align: center;
}

.column img{
    width: 300px;
    padding: 40px;
}

.column img:hover{background: #00faff; }

header {
    grid-area: header;
    text-align: center;
    font-size: 20px;
}

hover{background: #0004ff; }

div.projekty1 {
    grid-area: projekty1;
  
    
}

div.projekty2 {
    grid-area: projekty2;
}

div.projekty3 {
    grid-area: projekty3;
}

footer {
    grid-area: footer;
    text-align: center;
    color: #ffffff;
}