* {
    box-sizing: border-box;
}

.mygrid {
    width: 100%;
    display: grid;
    position: absolute
    grid-gap: 10px;
    
    
   grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 30px;
    grid-template-areas:
                         "projekty1 projekty2 projekty3"
                         "footer footer footer";
    margin: 20px auto;
}


.column img{
    width: 300px;
}
.header {
    grid-area: header;
}

div.projekty1 {
    grid-area: projekty1;
}

div.projekty2 {
    grid-area: projekty2;
}

div.projekty3 {
    grid-area: projekty3;
}

footer {
    grid-area: footer;
}